.metadata/.plugins/org.eclipse.core.resources/.projects/SmartDiet/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SmartDiet/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SmartDiet/.indexes/a0/d6/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SmartDiet/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/637943908.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/
/SmartDiet/bin
/SmartDiet/bin/
/SmartDiet/nbproject/private/
SmartDiet/.classpath
library/bin/.classpath
library/bin/.project
library/bin/bin/AndroidManifest.xml
library/bin/project.properties
